@tailwind base;
@tailwind components;
@tailwind utilities;

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    min-height: 100vh;
}

body{
    background: lightgrey;
    border: 3px solid blue;

}

#root{
    border: 3px solid purple;

}